<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% set metaTitle = metaTitle|default('Bref') %}
    {% set metaDescription = metaDescription|default('Bref is a framework to run serverless PHP applications on AWS Lambda.') %}
    <title>{{ metaTitle }}</title>
    <meta name="description" content="{{ metaDescription|e('html_attr') }}" />
    <meta property="og:title" content="{{ metaTitle|e('html_attr') }}" />
    <meta property="og:description" content="{{ metaDescription|e('html_attr') }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Bref" />
    <meta property="og:image" content="/img/logo-small.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ metaTitle|e('html_attr') }}" />
    <meta name="twitter:description" content="{{ metaDescription|e('html_attr') }}" />
    <meta name="google-site-verification" content="RRmKDrWI2l69B0nMwv4ndrYOHSuaTBfarvCgtJxMpXA" />
    {#<meta name="twitter:site" content="@brefphp" />#}
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400|Open+Sans:300,400,700|Poppins:400,600&display=swap" rel="stylesheet">
    <link href="/output.css" rel="stylesheet">
</head>
<body class="font-sans">

    {% block body %}{% endblock %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15584647-20"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-15584647-20');
    </script>
</body>
</html>
